/* @collapse */
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Original+Surfer&family=Quantico&display=swap");
* {
	background-color: #1b1701;
	color: white;
	font-family: Inter;
}
.col-span-2 {
	grid-column: span 2;
}
.border {
	/* border: dashed 2px; */
	/* border-color: red; */
}
.desktop-wrap {
	display: grid;
	grid-template-columns: 50vh repeat(2, 1fr);
}

.logo-wrap {
	display: flex;
	margin-top: 32%;
	justify-content: center;
	font-family: Original Surfer;
	font-size: 6vw;
	height: 145px;
	background-color: rgba(0, 0, 0, 0.6);
	/* width: 100%; */
	width: 50vh;
	z-index: 2;
}
.img-wrap {
	position: absolute;
	height: 98vh;
	width: 50vh;
	background-image: url("media/OdinProject4Background.avif");
	z-index: 1;
}
.about-wrap {
	display: flex;
	align-items: flex-end;
	padding-left: 8%;
	padding-bottom: 6%;
	font-size: 21px;
	color: #ffe9ff;
}

.about-wrap > * {
	font-size: 21px;
	color: #ffe9ff;
}
.form-wrap {
	height: 40vh;
	background-color: #6c577a;
	width: 96.5%;
	border-top: 4px solid #ffe9ff;
	border-bottom: 4px solid #ffe9ff;
	padding-left: 4%;
	/* padding-bottom: 2%;
	margin-bottom: -4%; */
}
.form-wrap > * {
	background-color: #6c577a;
}
.bottom-left-empty {
	background-color: white;
}
#logo {
	width: auto;
	height: auto;
}
button {
	background-color: #ffe9ff;
	color: black;
	font-size: 24px;
	border-radius: 20px;
	height: 75px;
	width: 250px;
	margin-bottom: 20px;
}
button:hover {
	background-color: #ffbcff;
}
.call-to-action-wrap {
	margin-top: 4%;
	margin-left: 8%;
	color: #ffe9ff;
}
a {
	color: #ffbcff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.error {
	background-color: red;
}
.row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-size: large;
	padding-bottom: 0.5%;
}
label {
	background-color: #6c577a;
}
input {
	background-color: white;
	border-radius: 5px;
	color: #1b1701;
	width: 400px;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
}
input:focus {
	background-color: #ffe9ff;
	outline: none;
}
